{% extends 'base.html' %}
{% load static %}
{% block content %}



<h3>{{ target_user.profile.department }} {{ target_user.profile.nickname }}님의 Profile</h3>
<p>이메일 : {{ target_user.email }}</p>
<hr>
{% if request.user != target_user %}
{% if request.user.profile in target_user.profile.followers.all %}
<a href="{% url 'users:follow' target_user.id %}"><button type="button" class="btn btn-outline-info">언팔로우</button></a>
{% else %}
<a href="{% url 'users:follow' target_user.id %}"><button type="button" class="btn btn-info">팔로우</button></a>
{% endif %}
{% endif %}


<p>팔로워<br>{{target_user.profile.followers.count}}</p>
{% for f in target_user.profile.followers.all %}
<a href="{% url 'users:mypage' f.user.id %}">{{f.user.username}}</a>
{% endfor %}

<p>팔로잉<br>{{target_user.profile.followings.count}}</p>
{% for f in target_user.profile.followings.all %}
<a href="{% url 'users:mypage' f.user.id %}">{{f.user.username}}</a>
{% endfor %}



{% if target_user.profile.date_of_birth %}
<p>생일 : {{ target_user.profile.date_of_birth }}</p>
{% endif %}

{% endblock %}