{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="POST" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    <p>username*</p>
    <input type="text" name="username" required>
    <br>

    <p>password*</p>
    <input type="password" name="password" required>
    <br>


    <p>password confirm*</p>
    <input type="password" name="confirm" required>
    <br>


    <p>email</p>
    <input type="email" name="email">
    <br>

    <p>nickname</p>
    <input type="text" name="nickname">
    <br>

    <p>department</p>
    <input type="text" name="department">
    <br>

    <p>date of birth</p>
    <input type="date" name="date_of_birth">
    <br>


    <input type="submit" value="회원가입">
</form>
{% endblock %}