{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Main page</h1>
<img src="{% static 'images/logo.png' %}" style="width: 500px;">
<br>
<a href="{% url 'main:new_post' %}">게시글 작성</a>

<h1>게시글 목록</h1>
<div>
    {% for post in posts %}
    <div>
        <hr>
        <h3>{{post.title}}</h3>
        {{post.category}}
        <br>
        {{post.writer}}
        <br>
        <div class=”item”>
            {% if post.image %}
            <p><img src="{{post.image.url}}" alt="사진" width="100px" height="100px"></p>
            {% endif %}
        </div>
        {{post.summary}}
        <a href="{% url 'main:detail' post.id %}">...자세히</a>
    </div>
    {% endfor %}
</div>
{% endblock %}